{% extends "base.html" %}


{% block content %}
    <h1>Edit Password</h1>
    <a href="{{ url_for('users.user_account', angler_id=angler_id, account_id=account_id) }}">Return to User Account</a>
    <div> </div>
    <form method="" action="">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.username.label }}</td>
                <td>{{ form.username() }}</td>
            </tr>
            <tr>
                <td>{{ form.old_password.label }}</td>
                <td>{{ form.old_password() }}</td>
                <td>
                    {% for error in form.old_password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password.label }}</td>
                <td>{{ form.password() }}</td>
                <td>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.password_repeat.label }}</td>
                <td>{{ form.password_repeat() }}</td>
                <td>
                    {% for error in form.password_repeat.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                let url = "{{ url_for('users.user_password_edit', angler_id=angler_id, account_id=account_id) }}";
                $.ajax({
                    type: "PATCH",
                    url: url,
                    data: $('form').serialize(),
                    success: function (data) {
                        window.location.href = "{{ url_for('users.user_account', angler_id=angler_id, account_id=account_id) }}";
                    },
                    error: function (data) {
                        window.location.href = "{{ url_for('users.user_account', angler_id=angler_id, account_id=account_id) }}";
                    }
                });
                e.preventDefault();
            });

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                    }
                }
            })
        });
    </script>
{% endblock %}