{% extends "base.html" %}

{% block content %}
    <h1>Account Types</h1>
    <a href="{{ url_for('admin.account_types') }}">back</a>
    <div></div>
    <table class="data-display-table">
        <thead>
            <th>Account Type Name</h>
            <th>Price</th>
            <th>Privileges</th>
        </thead>
        <tbody>
            {% for account_type in account_types %}
                <tr>
                    <td>{{ account_type.name }}</td>
                    <td>{{ account_type.price }}</td>
                    <td>
                        {% for privilege in account_type.privileges %}
                        {{ privilege.name }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}