{% extends "base.html" %}


{% block content %}
    <h1>Angler - {{ form.name.data }}</h1>
    <div><a href="{{ url_for('admin.amglers') }}">back</a></div>
    <div></div>
    {{ form.hidden_tag() }}
    <table class="view-only-form">
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name() }}</td>
        </tr>
        <tr>
            <td>{{ form.rank.label }}</td>
            <td>{{ form.rank() }}</td>
            <td><a href="{{ url_for('admin.angler_edit', angler_id=form.angler_id.data) }}">EDIT</a></td>
        </tr>
        <tr>
            <td>{{ form.angler_id.label }}</td>
            <td>{{ form.angler_id() }}</td>
        </tr>
        <tr>
            <td>{{ form.account_type.label }}</td>
            <td>{{ form.account_type() }}</td>
        </tr>
        <tr>
            <td>{{ form.privileges.label }}</td>
            <td>{{ form.privileges() }}</td>
        </tr>
    </table>
{% endblock %}