{% extends "base.html" %}


{% block content %}
    <h1>Anglers</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Rank</th>
        </thead>
        <tbody>
            {% for angler in anglers %}
            <tr>
                <td>{{ angler.primary_key }}</td>
                <td>{{ angler.name }}</td>
                <td>{{ angler.rank }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}