{% extends "base.html" %}


{% block content %}
    <h1>Gear Combo</h1>
    <table>
        <tbody>
            <tr>
                <td>{{ form.rod.label }}</td>
                <td>{{ form.rod() }}</td>
            </tr>
            <tr>
                <td>{{ form.reel.label }}</td>
                <td>{{ form.reel() }}</td>

            </tr>
            <tr>
                <td>{{ form.line.label }}</td>
                <td>{{ form.line() }}</td>
            </tr>
            <tr>
                <td>{{ form.leader.label }}</td>
                <td>{{ form.leader() }}</td>
            </tr>
            <tr>
                <td>{{ form.hook.label }}</td>
                <td>{{ form.hook() }}</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button ><a class="button-anchor" href="{{ url_for('gear.gear_edit', angler_id=angler_id, gear_id=gear_id) }}">Edit</a></button>
                    <button ><a class="button-anchor" href="{{ url_for('gear.gear_delete', angler_id=angler_id, gear_id=gear_id) }}">Delete</a></button>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}