{% extends "base.html" %}


{% block content %}
    <h1>Delete This Bait From Your Baits</h1>
    <a href="{{ url_for('bait.bait', angler_id=angler_id, bait_id=bait_id) }}">Return to Bait</a>
    <div> </div>
    <form method="" action="">
        {{ form.hidden_tag() }}
        <table class="view-only-form">
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name() }}</td>
            </tr>
            <tr>
                <td>{{ form.size.label }}</td>
                <td>{{ form.size() }}</td>
            </tr>
            <tr>
                <td>{{ form.color.label }}</td>
                <td>{{ form.color() }}</td>
            </tr>
            <tr>
                <td>{{ form.agree.label }}</td>
                <td>{{ form.agree() }}</td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.submit() }} <button style="color: black;"><a class="button-anchor" href="{{ url_for('bait.bait', angler_id=angler_id, bait_id=bait_id) }}">Cancel</a></button></td>
            </tr>
        </table>
    </form>
    <script>
        $(document).ready(function () {
            $('form').submit(function (e) {
                let url = "{{ url_for('bait.my_bait_delete', angler_id=angler_id, bait_id=bait_id) }}";
                $.ajax({
                    type: "DELETE",
                    url: url,
                    data: $('form').serialize(),
                    success: function (data) {
                        window.location.href = "{{ url_for('bait.my_baits', angler_id=angler_id) }}";
                    },
                    error: function (data) {
                        window.location.href = "{{ url_for('bait.bait', angler_id=angler_id, bait_id=bait_id) }}";
                    }
                });
                e.preventDefault();
            });

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!/^GET|HEAD|OPTIONS|TRACE$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ form.csrf_token._value() }}")
                    }
                }
            })
        });
    </script>
{% endblock %}