{% extends "base.html" %}

{% block content %}
    {% if authenticated %}
    <h1>Welcome!</h1>
    <div>
        <a href="{{ url_for('fish.fish_menu', angler_id=angler_id) }}">my fish</a>
    </div>
    <div>
        <a href="{{ url_for('fishing_spots.angler_spots_menu', angler_id=angler_id) }}">fishing spots</a>
    </div>
    <div>
        <a href="{{ url_for('bait.baits_menu', angler_id=angler_id) }}">baits</a>
    </div>
    <div>
        <a href="{{ url_for('gear.gear_menu', angler_id=angler_id) }}">gear</a>
    </div>
    <div>
        <a href="{{ url_for('statistics.statistics', angler_id=angler_id) }}">my stats</a>
    </div>
    <div>
        <a href="{{ url_for('angler.manage_account', angler_id=angler_id) }}">manage account</a>
    </div>
    {% endif %}
{% endblock %}

