{% extends "base.html" %}


{% block content %}
    <h1>Baits</h1>
    <table class="data-display-table">
        <thead>
            <th>Name</th>
            <th>Artificial</th>
            <th>Size</th>
            <th>Color</th>
            <th>Description</th>
        </thead>
        <tbody>
            {% for bait in baits %}
            <tr>
                <td>{{ bait.name }}</td>
                <td>{{ bait.artificial }}</td>
                <td>{{ bait.size }}</td>
                <td>{{ bait.color }}</td>
                <td>{{ bait.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}