{% extends "base.html" %}

{% block content %}
    <h1>Fishing Spots</h1>
    <div>
        <a href="{{ url_for('angler.my_spots', angler_id=angler_id) }}">my fishing spots</a>
    </div>
    <div>
        <a href="{{ url_for('angler.fishing_spot_create', angler_id=angler_id) }}">create fishing spot</a>
    </div>
    <div>
        <a href="/public-spots">public fishing spots</a>
    </div>
    <div>
        <a href="/group-spots">group fishing spots</a>
    </div>
{% endblock %}
