{% extends "base.html" %}


{% block content %}
    <h1>{{ spot_name }}</h1>
    <table class="view-only-form">
        <tr>
            <td>{{ form.name.label }}</td>
            <td>{{ form.name() }}</td>
            <td><button><a class="button-anchor" href="{{ map_url }}" target="_blank">View</a></button></td>
        </tr>
        <tr>
           <td>{{ form.nickname.label }}</td>
           <td>{{ form.nickname() }}</td>
        </tr>
        <tr>
            <td>{{ form.latitude.label }}</td>
            <td>{{ form.latitude() }}</td>
        </tr>
        <tr>
            <td>{{ form.longitude.label }}</td>
            <td>{{ form.longitude() }}</td>
        </tr>
        <tr>
            <td></td>
            <td>{{ form.is_public.label }} {{ form.is_public() }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label }}</td>
            <td>{{ form.description() }}</td>
        </tr>
    </table>
    
    
    
    
    <h3>{{ tide_currents.coordinates.latitude }} N, {{ tide_currents.coordinates.longitude }} W</h3>
    <h3>Sun Rise: {{ tide_currents.sun.rise_time }} Sun Set: {{ tide_currents.sun.set_time }} </h3>
    <h3>Moon Rise: {{ tide_currents.moon.rise_time }} Moon Set: {{ tide_currents.moon.set_time }} {{ tide_currents.moon.phase }}</h3>
    <table>
        <thead>
            <tr>{{ tide_currents.date }}</tr>
            <th>Time</th>
            <th>Current Flow</th>
            <th>Currrent Speed</th>
            <th>Tide Direction</th>
        </thead>
        <tbody>
        {% for tc_data in tide_currents.water %}
            <tr>
                <td>{{ tc_data.date_time.time() }}</td>
                <td>{{ tc_data.current_flow }}</td>
                <td>{{ tc_data.current_speed }}</td>
                {% if tc_data.slack %}
                <td></td>
                {% elif tc_data.incoming %}
                <td>Incoming</td>
                {% else %}
                <td>Outgoing</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}