{% extends "base.html" %}


{% block content %}
    <h1>{{ spot_name }}</h1>
    <h3>{{ tide_currents.coordinates.latitude }} N, {{ tide_currents.coordinates.longitude }} W</h3>
    <h3>Sun Rise: {{ tide_currents.sun.rise_time }} Sun Set: {{ tide_currents.sun.set_time }} </h3>
    <h3>Moon Rise: {{ tide_currents.moon.rise_time }} Moon Set: {{ tide_currents.moon.set_time }} {{ tide_currents.moon.phase }}</h3>
    <table>
        <thead>
            <tr>{{ tide_currents.date }}</tr>
            <th>Time</th>
            <th>Current Flow</th>
            <th>Currrent Speed</th>
            <th>Tide Direction</th>
        </thead>
        <tbody>
        {% for tc_data in tide_currents.water %}
            <tr>
                <td>{{ tc_data.date_time.time() }}</td>
                <td>{{ tc_data.current_flow }}</td>
                <td>{{ tc_data.current_speed }}</td>
                {% if tc_data.slack %}
                <td></td>
                {% elif tc_data.incoming %}
                <td>Incoming</td>
                {% else %}
                <td>Outgoing</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <th>Date</th>
            <th>Swell Height</th>
            <th>Swell Direction</th>
            <th>Wave Height</th>
            <th>Wave Period</th>
            <th>Wind Speed</th>
            <th>Wind Direction</th>
            <th>Weather</th>
            <th>Air Temp</th>
            <th>Water Temp</th>
        </thead>
        <tbody>
        {% for condition in weather %}
            <tr>
                <td>{{ condition.date_time }}</td>
                <td>{{ condition.swell_height }}</td>
                <td>{{ condition.swell_direction }}</td>
                <td>{{ condition.wave_height }}</td>
                <td>{{ condition.wave_period }}</td>
                <td>{{ condition.wind_speed }}</td>
                <td>{{ condition.wind_direction }}</td>
                <td>{{ condition.weather_state }}</td>
                <td>{{ condition.temperature }}</td>
                <td>{{ condition.wind_chill }}</td>
                <td>{{ condition.water_temperature }} {{ condition.water_temp_units }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <img src="{{ spot_name }}.jpg" alt="image {{ spot_name }}"/>
{% endblock %}