{% extends "base.html" %}

{% block content %}
    <h1>My Spots</h1>
    <form action="" method="post" novalidate>
        {{ add_form.hidden_tag() }}
        <p>
            {{ add_form.name.label }}<br>
            {{ add_form.name() }}
            {% for error in add_form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ add_form.latitude.label }}<br>
            {{ add_form.latitude() }}
            {% for error in add_form.latitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ add_form.longitude.label }}<br>
            {{ add_form.longitude() }}
            {% for error in add_form.longitude.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ add_form.description.label }}<br>
            {{ add_form.description() }}
        </p>
        <p>{{ add_form.submit() }}</p>
    </form>
    <section>
        <h3>Fishing Spots</h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th></th>
            </thead>
            <tbody>
                {% for spot in spots %}
                <tr>
                    <td>{{ spot.name }}</td>
                    <td>{{ spot.description }}</td>
                    <td>{{ spot.latitude }}</td>
                    <td>{{ spot.longitude }}</td>
                    <td>
                        <form method="post" action="" novalidate>
                            {{ view_form.spot_name(value=spot.name) }}
                            {{ view_form.submit() }}
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}