{% extends "base.html" %}

{% block content %}
    <h1>View Fish</h1>
    <a href="{{ url_for('fish.add_fish', angler_id=angler_id) }}">Add More Fish</a>
    <a href="{{ url_for('angler.angler_home', angler_id=angler_id) }}">Menu</a>
    <table class="data-display-table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Species</th>
                <th>Length</th>
                <th>Weight</th>
                <th>Where Caught</th>
                <th>Bait</th>
                <th>Gear</th>
            </tr>
        </thead>
        <tbody>
            {% for f in fish %}
            <tr>
                <td>{{ f.date_time_caught }}</td>
                <td>{{ f.species }}</td>
                <td>{{ f.length }}</td>
                <td>{{ f.weight }}</td>
                <td>{{ f.fishing_spot.name }}</td>
                <td>{{ f.bait.name ~ ' ' ~ f.bait.size ~ ' ' ~ f.bait.color }}</td>
                <td>{{ f.fishing_gear.rod ~ ' with ' ~ f.fishing_gear.reel }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}