{% extends "base.html" %}

{% block content %}
    <h1>Record Fish Caught</h1>
    <form action="" method="get"  novalidate>
        <table>
            <tr>
                <td>{{ form.species.label }}</td>
                <td>{{ form.species() }}</td>
                <td>{% for error in form.species.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.start_date.label }}</td>
                <td>{{ form.start_date(class="datepicker") }}</td>
                <td>{{ form.end_date.label }} {{ form.end_date(class="datepicker") }}</td>
                <td>{% for error in form.start_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                    {% for error in form.end_date.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.fishing_spot.label }}</td>
                <td>{{ form.fishing_spot() }}</td>
                <td>
                    {% for error in form.fishing_spot.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>{{ form.bait.label }}</td>
                <td>{{ form.bait() }}</td>
                <td>
                    {% for error in form.bait.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
{% endblock %}